<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script>
    </script>
</head>
<body>
<form action="/upload" method="post" enctype="multipart/form-data">
    도메인 : <select name="domain">
        <option>Age</option>
        <option>City</option>
        <option>People</option>
        <option>Artwork</option>
        <option>DisplayHistory</option>
        <option>Analects</option>
        <option>Document</option>
        <option>Images</option>
    </select><br/>
    파일 : <input type="file" name="excel"/><br/>
    <button type="submit">submit</button>
</form>
</body>
</html>